root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.cs]
indent_size = 4

[*.{csproj,props,targets}]
indent_size = 2

[*.cs]

##########################
### Code quality rules ###
##########################

# CA1012: Abstract types should not have public constructors
dotnet_diagnostic.CA1012.severity = warning

# Prevent flagging class 'Mod' as VB Mod operator
# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = none

# Prevent warning on float.ToString()
# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# Prevent warning on IMod and IModLifecycle members
# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = suggestion

########################
### Code style rules ###
########################

### using directive preferences ###

# Remove unnecessary using directives (IDE0005)
dotnet_diagnostic.IDE0005.severity = suggestion

# 'using' directive placement (IDE0065)
dotnet_diagnostic.IDE0065.severity = suggestion
csharp_using_directive_placement = outside_namespace

### Code-block preferences ###

# Add braces (IDE0011)
dotnet_diagnostic.IDE0011.severity = warning
csharp_prefer_braces = when_multiline

# Use simple 'using' statement (IDE0063)
dotnet_diagnostic.IDE0063.severity = suggestion
csharp_prefer_simple_using_statement = true

# Namespace declaration preferences (IDE0160 and IDE0161)
dotnet_diagnostic.IDE0160.severity = suggestion
dotnet_diagnostic.IDE0161.severity = suggestion
csharp_style_namespace_declarations = file_scoped

# Remove unnecessary lambda expression (IDE0200)
dotnet_diagnostic.IDE0200.severity = warning
csharp_style_prefer_method_group_conversion	= true

# Convert to top-level statements (IDE0210)
# Convert to 'Program.Main' style program (IDE0211)
dotnet_diagnostic.IDE0210.severity = suggestion
dotnet_diagnostic.IDE0211.severity = none
csharp_style_prefer_top_level_statements = true

# Use primary constructor (IDE0290)
dotnet_diagnostic.IDE0290.severity = suggestion
csharp_style_prefer_primary_constructors = true

# Prefer 'System.Threading.Lock' (IDE0330)
dotnet_diagnostic.IDE0330.severity = suggestion
csharp_prefer_system_threading_lock = true

### Expression-bodied members ###

# Use expression body for constructors (IDE0021)
dotnet_diagnostic.IDE0021.severity = suggestion
csharp_style_expression_bodied_constructors = false

# Use expression body for methods (IDE0022)
dotnet_diagnostic.IDE0022.severity = suggestion
csharp_style_expression_bodied_methods = when_on_single_line

# Use expression body for operators (IDE0023 and IDE0024)
dotnet_diagnostic.IDE0023.severity = suggestion
dotnet_diagnostic.IDE0024.severity = suggestion
csharp_style_expression_bodied_operators = when_on_single_line

# Use expression body for properties (IDE0025)
# Use expression body for accessors (IDE0027)
dotnet_diagnostic.IDE0025.severity = suggestion
dotnet_diagnostic.IDE0027.severity = suggestion
csharp_style_expression_bodied_properties = when_on_single_line
csharp_style_expression_bodied_accessors = when_on_single_line

# Use expression body for indexers (IDE0026)
dotnet_diagnostic.IDE0026.severity = suggestion
csharp_style_expression_bodied_indexers	= when_on_single_line

# Use expression body for lambdas (IDE0053)
dotnet_diagnostic.IDE0053.severity = suggestion
csharp_style_expression_bodied_lambdas = when_on_single_line

# Use expression body for local functions (IDE0061)
dotnet_diagnostic.IDE0061.severity = suggestion
csharp_style_expression_bodied_local_functions = when_on_single_line

### Expression-level preferences ###

# Simplify name (IDE0001)
dotnet_diagnostic.IDE0001.severity = suggestion

# Simplify member access (IDE0002)
dotnet_diagnostic.IDE0002.severity = suggestion

# Remove unnecessary cast (IDE0004)
dotnet_diagnostic.IDE0004.severity = suggestion

# Add missing cases to switch statement (IDE0010)
dotnet_diagnostic.IDE0010.severity = warning

# Use object initializers (IDE0017)
dotnet_diagnostic.IDE0017.severity = suggestion
dotnet_style_object_initializer	= true

# Use collection initializers or expressions (IDE0028)
dotnet_diagnostic.IDE0028.severity = warning
dotnet_style_collection_initializer = true
dotnet_style_prefer_collection_expression = when_types_loosely_match

# Null check can be simplified (IDE0029, IDE0030, and IDE0270)
dotnet_diagnostic.IDE0029.severity = warning
dotnet_diagnostic.IDE0030.severity = warning
dotnet_diagnostic.IDE0270.severity = suggestion
dotnet_style_coalesce_expression = true

# Use null propagation (IDE0031)
dotnet_diagnostic.IDE0031.severity = suggestion
dotnet_style_null_propagation = true

# Use auto-implemented property (IDE0032)
dotnet_diagnostic.IDE0032.severity = suggestion
dotnet_style_prefer_auto_properties	= true

# Use explicitly provided tuple name (IDE0033)
dotnet_diagnostic.IDE0033.severity = warning
dotnet_style_explicit_tuple_names = true

# Remove unreachable code (IDE0035)
dotnet_diagnostic.IDE0035.severity = suggestion

# Use 'is null' check (IDE0041)
dotnet_diagnostic.IDE0041.severity = warning
dotnet_style_prefer_is_null_check_over_reference_equality_method = true

# Use conditional expression for assignment (IDE0045)
dotnet_diagnostic.IDE0045.severity = warning
dotnet_style_prefer_conditional_expression_over_assignment = true

# Use conditional expression for return (IDE0046)
dotnet_diagnostic.IDE0046.severity = warning
dotnet_style_prefer_conditional_expression_over_return = true

# Convert anonymous type to tuple (IDE0050)
dotnet_diagnostic.IDE0050.severity = suggestion

# Remove unused private member (IDE0051)
dotnet_diagnostic.IDE0051.severity = warning

# Remove unread private member (IDE0052)
dotnet_diagnostic.IDE0052.severity = warning

# Use compound assignment (IDE0054 and IDE0074)
dotnet_diagnostic.IDE0054.severity = warning
dotnet_diagnostic.IDE0074.severity = warning
dotnet_style_prefer_compound_assignment = true

# Remove unnecessary expression value (IDE0058)
dotnet_diagnostic.IDE0058.severity = none
csharp_style_unused_value_expression_statement_preference = discard_variable

# Remove unnecessary value assignment (IDE0059)
dotnet_diagnostic.IDE0059.severity = warning
csharp_style_unused_value_assignment_preference = discard_variable

# Use 'System.HashCode.Combine' (IDE0070)
dotnet_diagnostic.IDE0070.severity = suggestion
dotnet_prefer_system_hash_code = true

# Simplify interpolation (IDE0071)
dotnet_diagnostic.IDE0071.severity = suggestion
dotnet_style_prefer_simplified_interpolation = true

# Simplify conditional expression (IDE0075)
dotnet_diagnostic.IDE0075.severity = warning
dotnet_style_prefer_simplified_boolean_expressions = true

# Convert typeof to nameof (IDE0082)
dotnet_diagnostic.IDE0082.severity = suggestion

# Remove unnecessary equality operator (IDE0100)
dotnet_diagnostic.IDE0100.severity = warning

# Simplify LINQ expression (IDE0120)
dotnet_diagnostic.IDE0120.severity = suggestion

# Simplify LINQ type check and cast (IDE0121)
dotnet_diagnostic.IDE0121.severity = suggestion

# Namespace does not match folder structure (IDE0130)
dotnet_diagnostic.IDE0130.severity = warning
dotnet_style_namespace_match_folder = true

# Use throw expression (IDE0016)
dotnet_diagnostic.IDE0016.severity = warning
csharp_style_throw_expression = true

# Inline variable declaration (IDE0018)
dotnet_diagnostic.IDE0018.severity = suggestion
csharp_style_inlined_variable_declaration = true

# Simplify 'default' expression (IDE0034)
dotnet_diagnostic.IDE0034.severity = suggestion
csharp_prefer_simple_default_expression = true

# Use local function instead of lambda (IDE0039)
dotnet_diagnostic.IDE0039.severity = suggestion
csharp_style_prefer_local_over_anonymous_function = true

# Deconstruct variable declaration (IDE0042)
dotnet_diagnostic.IDE0042.severity = suggestion
csharp_style_deconstructed_variable_declaration	= true

# Use index operator (IDE0056)
dotnet_diagnostic.IDE0056.severity = suggestion
csharp_style_prefer_index_operator = true

# Use range operator (IDE0057)
dotnet_diagnostic.IDE0057.severity = suggestion
csharp_style_prefer_range_operator = true

# Add missing cases to switch expression (IDE0072)
dotnet_diagnostic.IDE0072.severity = warning

# Remove unnecessary suppression operator (IDE0080)
dotnet_diagnostic.IDE0080.severity = suggestion

# Simplify new expression (IDE0090)
dotnet_diagnostic.IDE0090.severity = suggestion
csharp_style_implicit_object_creation_when_type_is_apparent	= true

# Remove unnecessary discard (IDE0110)
dotnet_diagnostic.IDE0110.severity = suggestion

# Prefer 'null' check over type check (IDE0150)
dotnet_diagnostic.IDE0150.severity = suggestion
csharp_style_prefer_null_check_over_type_check = true

# Use tuple to swap values (IDE0180)
dotnet_diagnostic.IDE0180.severity = suggestion
csharp_style_prefer_tuple_swap = true

# Add explicit cast in foreach loop (IDE0220)
dotnet_diagnostic.IDE0220.severity = suggestion
dotnet_style_prefer_foreach_explicit_cast_in_source = when_strongly_typed

# Add explicit cast (IDE0221)
dotnet_diagnostic.IDE0221.severity = suggestion
dotnet_style_prefer_non_hidden_explicit_cast_in_source = true

# Use UTF-8 string literal (IDE023
dotnet_diagnostic.IDE0230.severity = suggestion
csharp_style_prefer_utf8_string_literals = true

# Nullable directive is redundant (IDE0240)
dotnet_diagnostic.IDE0240.severity = warning

# Nullable directive is unnecessary (IDE0241)
dotnet_diagnostic.IDE0241.severity = suggestion

# Use collection expression for array (IDE0300)
# Use collection expression for empty (IDE0301)
# Use collection expression for stackalloc (IDE0302)
# Use collection expression for Create() (IDE0303)
# Use collection expression for builder (IDE0304)
# Use collection expression for fluent (IDE0305)
# Use collection expression for new (IDE0306)
dotnet_diagnostic.IDE0300.severity = suggestion
dotnet_diagnostic.IDE0301.severity = suggestion
dotnet_diagnostic.IDE0302.severity = suggestion
dotnet_diagnostic.IDE0303.severity = suggestion
dotnet_diagnostic.IDE0304.severity = suggestion
dotnet_diagnostic.IDE0305.severity = suggestion
dotnet_diagnostic.IDE0306.severity = suggestion
dotnet_style_prefer_collection_expression = when_types_loosely_match

# Use unbound generic type (IDE0340)
dotnet_diagnostic.IDE0340.severity = suggestion
csharp_style_prefer_unbound_generic_type_in_nameof = true

# Use implicitly typed lambda (IDE0350)
dotnet_diagnostic.IDE0350.severity = suggestion
csharp_style_prefer_implicitly_typed_lambda_expression = true

# Simplify property accessor (IDE0360)
dotnet_diagnostic.IDE0360.severity = suggestion
csharp_style_prefer_simple_property_accessors = true

### Field preferences ###

# Add readonly modifier (IDE0044)
dotnet_diagnostic.IDE0044.severity = suggestion
dotnet_style_readonly_field = true

### Language keyword vs. framework types preferences ###

# Use language keywords instead of framework type names for type references (IDE0049)
dotnet_diagnostic.IDE0049.severity = suggestion
dotnet_style_predefined_type_for_member_access = true


### Modifier preferences ###

# Order modifiers (IDE0036)
dotnet_diagnostic.IDE0036.severity = warning
csharp_preferred_modifier_order = public, private, protected, internal, file, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, required, volatile, async

# Add accessibility modifiers (IDE0040)
dotnet_diagnostic.IDE0040.severity = warning
dotnet_style_require_accessibility_modifiers = for_non_interface_members

# Make local function static (IDE0062)
dotnet_diagnostic.IDE0062.severity = suggestion
csharp_prefer_static_local_function = true

# Make struct fields writable (IDE0064)
dotnet_diagnostic.IDE0064.severity = suggestion

# Struct can be made 'readonly' (IDE0250)
dotnet_diagnostic.IDE0250.severity = suggestion
csharp_style_prefer_readonly_struct = true

# Member can be made 'readonly' (IDE0251)
dotnet_diagnostic.IDE0251.severity = suggestion
csharp_style_prefer_readonly_struct_member = true

# Make anonymous function static (IDE0320)
dotnet_diagnostic.IDE0320.severity = suggestion
csharp_prefer_static_local_function = true

# Remove unnecessary unsafe modifier (IDE0380)
dotnet_diagnostic.IDE0380.severity = suggestion

### New-line preferences ###

# Avoid multiple blank lines (IDE2000)
dotnet_diagnostic.IDE2000.severity = suggestion
dotnet_style_allow_multiple_blank_lines_experimental = false

# Blank line required between block and subsequent statement (IDE2003)
dotnet_style_allow_statement_immediately_after_block_experimental = false

# Embedded statements must be on their own line (IDE2001)
dotnet_diagnostic.IDE2001.severity = warning
csharp_style_allow_embedded_statements_on_same_line_experimental = false

# Consecutive braces must not have blank line between them (IDE2002)
dotnet_diagnostic.IDE2002.severity = warning
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = false

# Blank line not allowed after constructor initializer colon (IDE2004)
dotnet_diagnostic.IDE2004.severity = warning
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = false

# Blank line not allowed after conditional expression token (IDE2005)
dotnet_diagnostic.IDE2005.severity = warning
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = false

# Blank line not allowed after arrow expression clause token (IDE2006)
dotnet_diagnostic.IDE2006.severity = warning
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = false

### Null-checking preferences ###

# Use conditional delegate call (IDE1005)
dotnet_diagnostic.IDE1005.severity = warning
csharp_style_conditional_delegate_call = true

### Parameter preferences ###

# Remove unused parameter (IDE0060)
dotnet_diagnostic.IDE0060.severity = warning
dotnet_code_quality_unused_parameters = all

# Use 'nameof' (IDE0280)
dotnet_diagnostic.IDE0280.severity = suggestion

### Parentheses preferences ###

# Parentheses preferences (IDE0047 and IDE0048)
dotnet_diagnostic.IDE0047.severity = suggestion
dotnet_diagnostic.IDE0048.severity = suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_operators = never_if_unnecessary

### Pattern-matching preferences ###

# Use pattern matching to avoid 'as' followed by a 'null' check (IDE0019)
dotnet_diagnostic.IDE0019.severity = none
csharp_style_pattern_matching_over_as_with_null_check = true

# Use pattern matching to avoid 'is' check followed by a cast (IDE0020 and IDE0038)
dotnet_diagnostic.IDE0020.severity = suggestion
dotnet_diagnostic.IDE0038.severity = suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true

# Use switch expression (IDE0066)
dotnet_diagnostic.IDE0066.severity = suggestion
csharp_style_prefer_switch_expression = true

# Use pattern matching (IDE0078 and IDE0260)
dotnet_diagnostic.IDE0078.severity = suggestion
dotnet_diagnostic.IDE0260.severity = suggestion
csharp_style_prefer_pattern_matching = true
csharp_style_pattern_matching_over_as_with_null_check = true

# Use pattern matching (not operator) (IDE0083)
dotnet_diagnostic.IDE0083.severity = suggestion
csharp_style_prefer_not_pattern = true

# Simplify property pattern (IDE0170)
dotnet_diagnostic.IDE0170.severity = suggestion
csharp_style_prefer_extended_property_pattern = true

### Suppression preferences ###

# Remove unnecessary suppression (IDE0079)
dotnet_diagnostic.IDE0079.severity = warning
dotnet_remove_unnecessary_suppression_exclusions = none

# Remove unnecessary suppression (IDE0370)
dotnet_diagnostic.IDE0370.severity = warning

### This. and me. preferences ###

# Member-access qualification preferences (IDE0003 and IDE0009)
dotnet_diagnostic.IDE0003.severity = warning
dotnet_diagnostic.IDE0009.severity = warning
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_event = false

### var preferences ###

# 'var' preferences (IDE0007 and IDE0008)
dotnet_diagnostic.IDE0007.severity = warning
dotnet_diagnostic.IDE0008.severity = none
csharp_style_var_for_built_in_types = false
csharp_style_var_when_type_is_apparent = true
csharp_style_var_elsewhere = false

##################
### Formatting ###
##################

# Formatting rule (IDE0055)
dotnet_diagnostic.IDE0055.severity = warning

### .NET formatting options ###
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

### C# formatting options ###

# New-line options
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation options
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = true

# Spacing options
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false

# Wrap options
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

##############
### Naming ###
##############

# Non-private static fields are PascalCase
dotnet_naming_symbols.non_private_static_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_static_fields.applicable_accessibilities = public, protected, internal, protected_internal, private_protected
dotnet_naming_symbols.non_private_static_fields.required_modifiers = static

dotnet_naming_style.non_private_static_field_style.capitalization = pascal_case

dotnet_naming_rule.non_private_static_fields_pascal_case.severity = suggestion
dotnet_naming_rule.non_private_static_fields_pascal_case.symbols = non_private_static_fields
dotnet_naming_rule.non_private_static_fields_pascal_case.style = non_private_static_field_style

# Non-private readonly fields are PascalCase
dotnet_naming_symbols.non_private_readonly_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_readonly_fields.applicable_accessibilities = public, protected, internal, protected_internal, private_protected
dotnet_naming_symbols.non_private_readonly_fields.required_modifiers = readonly

dotnet_naming_style.non_private_readonly_field_style.capitalization = pascal_case

dotnet_naming_rule.non_private_readonly_fields_pascal_case.severity = suggestion
dotnet_naming_rule.non_private_readonly_fields_pascal_case.symbols = non_private_readonly_fields
dotnet_naming_rule.non_private_readonly_fields_pascal_case.style = non_private_readonly_field_style

# Constants are PascalCase
dotnet_naming_symbols.constants.applicable_kinds = field, local
dotnet_naming_symbols.constants.required_modifiers = const

dotnet_naming_style.constant_style.capitalization = pascal_case

dotnet_naming_rule.constants_pascal_case.severity = suggestion
dotnet_naming_rule.constants_pascal_case.symbols = constants
dotnet_naming_rule.constants_pascal_case.style = constant_style

# Static fields are camelCase and start with s_
dotnet_naming_symbols.static_fields.applicable_kinds = field
dotnet_naming_symbols.static_fields.required_modifiers = static

dotnet_naming_style.static_field_style.capitalization = camel_case
dotnet_naming_style.static_field_style.required_prefix = s_

dotnet_naming_rule.static_fields_camel_case.severity = suggestion
dotnet_naming_rule.static_fields_camel_case.symbols = static_fields
dotnet_naming_rule.static_fields_camel_case.style = static_field_style

# Instance fields are camelCase and start with _
dotnet_naming_symbols.instance_fields.applicable_kinds = field

dotnet_naming_style.instance_field_style.capitalization = camel_case
dotnet_naming_style.instance_field_style.required_prefix = _

dotnet_naming_rule.instance_fields_camel_case.severity = suggestion
dotnet_naming_rule.instance_fields_camel_case.symbols = instance_fields
dotnet_naming_rule.instance_fields_camel_case.style = instance_field_style

# Locals and parameters are camelCase
dotnet_naming_symbols.locals_and_parameters.applicable_kinds = parameter, local

dotnet_naming_style.camel_case_style.capitalization = camel_case

dotnet_naming_rule.locals_camel_case.severity = suggestion
dotnet_naming_rule.locals_camel_case.symbols = locals_and_parameters
dotnet_naming_rule.locals_camel_case.style = camel_case_style

# Local functions are PascalCase
dotnet_naming_symbols.local_functions.applicable_kinds = local_function

dotnet_naming_style.local_function_style.capitalization = pascal_case

dotnet_naming_rule.local_functions_pascal_case.severity = suggestion
dotnet_naming_rule.local_functions_pascal_case.symbols = local_functions
dotnet_naming_rule.local_functions_pascal_case.style = local_function_style

# By default, name items with PascalCase
dotnet_naming_symbols.all_members.applicable_kinds = *

dotnet_naming_style.pascal_case_style.capitalization = pascal_case

dotnet_naming_rule.members_pascal_case.severity = suggestion
dotnet_naming_rule.members_pascal_case.symbols = all_members
dotnet_naming_rule.members_pascal_case.style = pascal_case_style
