<Project>
  <!-- Local Assembly Reference Paths -->
  <PropertyGroup>
    <TerrariaModderCoreProject></TerrariaModderCoreProject>
    <TerrariaModderCoreDll></TerrariaModderCoreDll>
    <TerrariaExe></TerrariaExe>
    <HarmonyDll></HarmonyDll>
    <XnaFrameworkGameDll>C:\Windows\Microsoft.NET\assembly\GAC_32\Microsoft.Xna.Framework.Game\v4.0_4.0.0.0__842cf8be1de50553\Microsoft.Xna.Framework.Game.dll</XnaFrameworkGameDll>
    <XnaFrameworkDll>C:\Windows\Microsoft.NET\assembly\GAC_32\Microsoft.Xna.Framework\v4.0_4.0.0.0__842cf8be1de50553\Microsoft.Xna.Framework.dll</XnaFrameworkDll>
  </PropertyGroup>

  <!-- Deployment Settings -->
  <PropertyGroup>
    <DeployToGame>false</DeployToGame>
    <DeployPath></DeployPath>
  </PropertyGroup>
</Project>
